<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'jih-s3/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Noto+Sans+KR:300,700" rel="stylesheet" type="text/css">
    <title>SidLab</title>
</head>
<body class="bg-light">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'index' %}">Sid Lab</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link major" href="{% url 'people_all' %}">
                    PEOPLE</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'people_alumni' %}">- Alumni</a>
                    </div>
                </li>            
                <li class="nav-item dropdown">
                    <a class="nav-link major" href="{% url 'projects_all' %}">
                    PROJECTS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'projects_archive' %}">- Archived Projects</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'publications_all' %}">
                    PUBLICATIONS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'publications_book' %}">- Books & Magazines</a>
                    <a class="dropdown-item" href="{% url 'publications_patent' %}">- Patent</a>
                    <a class="dropdown-item" href="{% url 'publications_ic' %}">- International Conference</a>
                    <a class="dropdown-item" href="{% url 'publications_dc' %}">- Domestic Conference</a>
                    </div>
                </li>
            </ul>
        </div>    
    </nav>
    <br>
    <div class="ml-5 mr-5 mt-5">
    {% block content %}
    {% endblock %}
    </div>
</body>

</html>