{% extends "blog/index.html" %}

{% block content %}
<h1 class="mb-5 open">Alumni</h1>

<!---- alumni page 이미지 box ---->
<div class="d-flex justify-content-center">
    <div class="people_container">
        {% for people in peoplee %}
                <div class="people_item">
                    <img src="{{ people.profile.url }}" height="300" width="300" class="people_img">
                    <h5 class="mt-3">{{ people.people_name }}</h5>
                    <h5>{{ people.people_status }}</h5>
                </div>
        {% endfor %}
    </div>
</div>

<!----- alumni page pagination ----->
<div class="d-flex justify-content-center mb-5 mt-5">
    {% if peoplee.has_previous %}
    <a href="?page=1">First</a>&nbsp;&nbsp;&nbsp;
    <a href="?page={{peoplee.previous_page_number}}">Previous</a>&nbsp;&nbsp;&nbsp;
    {% endif %}

    <span>{{ peoplee.number }}</span>&nbsp;
    <span>of</span>&nbsp;
    <span>{{ peoplee.paginator.num_pages }}</span>&nbsp;&nbsp;&nbsp;

    {% if peoplee.has_next %}
    <a href="?page={{peoplee.next_page_number}}">Next</a>&nbsp;&nbsp;&nbsp;
    <a href="?page={{peoplee.paginator.num_pages}}">Last</a>
    {% endif %}
</div>
{% endblock %}