{% extends "blog/index.html" %}

{% block content %}
<h1 class="mb-5 open">All Project</h1>
<div class="d-flex justify-content-center">
    <div class="project_container">
        {% for project in projects %}
            <div class="project_item mb-5">
                <a href="{% url 'projects_detail' pk=project.pk %}"><img src="{{ project.photo.url }}" height="300" width="300" class="project_img"></a>
                <h5 class="mt-3 open">{{ project.project_name }}</h5>
            </div>
        {% endfor %}
    </div>
</div>

<div class="d-flex justify-content-center mb-5 mt-5">
    {% if projects.has_previous %}
    <a href="?page=1">First</a>&nbsp;&nbsp;&nbsp;
    <a href="?page={{projects.previous_page_number}}">Previous</a>&nbsp;&nbsp;&nbsp;
    {% endif %}

    <span>{{ projects.number }}</span>&nbsp;
    <span>of</span>&nbsp;
    <span>{{ projects.paginator.num_pages }}</span>&nbsp;&nbsp;&nbsp;

    {% if projects.has_next %}
    <a href="?page={{projects.next_page_number}}">Next</a>&nbsp;&nbsp;&nbsp;
    <a href="?page={{projects.paginator.num_pages}}">Last</a>
    {% endif %}
</div>
{% endblock %}