
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    /* color: rgb(85, 85, 85); */
    color: #fff;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.people_box {
    margin-bottom: 80px;
}

.open {
    font-family: 'Open Sans', sans-serif;
}
.noto-bold {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

body {
    font-family: 'Noto Sans KR', sans-serif; 
    background-color: #fff;
    margin-top: 3rem;
}

.project_container {
    max-width: 1230px;
    display: flex;
    flex-flow: row wrap;
  }

.project_item {
    width: 400px;
    height: 400px;
    text-align: center;
    /* line-height: 100px; */
  }

.project_img {
    object-fit: contain;
}  

.project_detail {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.people_container {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
}

.people_item {
    width: 400px;
    height: 400px;
    text-align: center;
    margin-bottom: 4rem;
  }

.people_img {
    object-fit: contain;
}

.publication_box {
    width: 800px;
}

.navbar-center {
    /* position: absolute;
    left: 50%;
    transform: translatex(-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    height: 75px;
    /* border-bottom: solid 1px #ededed; */
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.navbar-collapse {
    justify-content: center;
}
.navbar-nav > li > a {
    color: black;
}
